{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>List Kegiatan</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <div class="container">
        <div class="row">
            <h1>Kegiatan   <h6><a href="/formkegiatan">➕</a></h6></h1>
        </div>
    <div class="card-columns">
    {% for kegiatan in kegiatans %}

    <div class="card">
        <div clas="card-body">
            <table class="table table-borderless">
                <tr>
                    <td>
                        <h5 class="card-title"> {{ kegiatan.nama_kegiatan }} </h5>
                    </td>
                    <td>
                        <h6><a href="/deletekeg/{{ kegiatan.id }}/">✖</a></h6>
                    </td>
                </tr>
            </table>
            <table class="table table-borderless">
                {% for orang in orangs %}
                {% if orang.kegiatan == kegiatan %}
                <tr>
                    <td>
                        <h6>{{ orang.nama_orang }}</h6>
                    </td>
                    <td>
                        <h6><a href="/deletekeg/{{ orang.id }}/">✖</a></h6>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
            <form method="POST" action="">
                <input type="hidden", name="kegiatan", value="{{ kegiatan.id }}">
                {% csrf_token %}
                {{ form_orang.nama_orang }}
                <button type="submit" class="btn btn-primary"> Ikut Kegiatan </button>
            </form>
        </div>
    </div>

    {% endfor %}
    </div>
    </div>

</body>
</html>